<div class="container">
  <!-- <app-databinding></app-databinding> -->
  <!-- <app-directives></app-directives> -->
  <!-- <app-products></app-products> -->
  <!-- <app-employee-crud></app-employee-crud> -->
  <!-- <app-pipe></app-pipe> -->
  <!-- <app-parents></app-parents> -->
  <!-- <app-employee></app-employee> -->
  <!-- <app-products2></app-products2> -->
  <!-- <app-users></app-users> -->
  <!-- <app-product3></app-product3> -->
  <!-- <app-comments></app-comments> -->
  <!-- <app-user></app-user> -->
  <app-employee-ajex></app-employee-ajex>

</div>